body {
  background-color: #FFFFFF;
  color: #000000;
  background-image: url("wave_1.gif");
  min-height: 100%;
}
hr {
  border-color: #404040;
}
#aContentBox {
  width: 60%;
  border: 3px solid #FFFFFF;
  min-height: 100%;
  background-color: #606060;
  text-align: left;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  #aContentBox {
    width: 90%;
  }
}
#aHeader {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#aResizedImage {
  height: 94px; /* Adjust size as needed */
  width: auto; /* This will maintain the aspect ratio */
}
#aContentContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  min-height: 100%;
}
#aSidebar {
  max-width: 25%;
  min-height: 100vh;
  background-color: #404040;
  float: left;
  text-align: center;
  margin: 5px;
  border: 5px ridge #303030;
  padding: 20px;
}
#aContent {
  padding: 5px 20px;
  text-align: left;
}
#aLargeText1 {
  font-size: 1.2em; /* Adjust size as needed */
}
#aLargeText2 {
  font-size: 1.2em; /* Adjust size as needed */
}
#aLargeText3 {
  font-size: 1.2em; /* Adjust size as needed */
}
#aContent h2 {
  margin: 5px 0;
  text-decoration: underline;
  text-align: left;
}
#aEmoji1 {
  vertical-align: middle;
  height: 1em;
}
#aEmoji2 {
  vertical-align: middle;
  height: 1em;
}
#aEmoji3 {
  vertical-align: middle;
  height: 1em;
}
#aEmoji4 {
  vertical-align: middle;
  height: 1em;
}
#aContent hr {
  margin: 20px 0;
}
#aContent > ol > li {
  margin: 10px 0;
}
#aUnderlineTooltip1 {
  text-decoration: underline;
  cursor: help;
}
#aUnderlineTooltip2 {
  text-decoration: underline;
  cursor: help;
}
#aAlignCenter1 {
  text-align: center;
  min-height: 100%;
}
#aAlignCenter2 {
  text-align: center;
}